@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-green-400;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-green-300;
}

:root {
  @apply bg-zinc-900;
  scroll-behavior: smooth;
  font-weight: 500;
}

h1 {
  color: #f9f9f9;
}

p {
  color: #828282;
}

a {
  color: #f9f9f9;
}

.box {
  @apply bg-zinc-800 border-green-400 border-2 p-4 rounded-xl shadow-xl hover:bg-zinc-700 hover:border-green-300;
  @apply text-center flex flex-col gap-2;
  @apply transition;
  @apply hover:scale-125;
  @apply text-[#828282] hover:text-green-400;
}

.card {
  cursor: pointer;
  height:350px;
  /* background: url('./assets/img-projects/climatempo.png'); */
  background-position:center;
  @apply bg-zinc-800 border-green-400 border-2 rounded-xl shadow-xl hover:bg-zinc-700 hover:border-green-300;
  @apply transition;
  @apply text-[#f5f5f5] hover:text-green-400;
}
